@import url('https://fonts.googleapis.com/css?family=Ubuntu:300|Josefin+Sans:600');

$mobile-screen: 540px;
$big-screen: 1200px;
$venturepact-logo: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT73_iI6TWVoTEhOQNo1a09vRU08KUDwTIScqeN-ByI9Hb7JQCY';

#about_page {
    position: relative;
    height: 400px;
    border-radius: 2px;
    box-shadow: 2px 2px 14px -3px #abc9c885;
    margin: 200px auto 0px auto;
    width: 840px;
    overflow: hidden;
    .container {
        background-color: transparent;
        // box-shadow: '0px 100px 150px -10px #2D3747';
        height: fit-content;
    }
}

.branding {
    background-color: transparent;
    background-image: url('https://drive.google.com/uc?id=1DTUGwmasw_dWVSeScvNDfFPKo5cPyk34');
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 404px;
    transform: translate3d(-160px, 0px, 0px);
}

.experience_holder {
    display: grid;
    .company_image {
        width: 120px;
        height: 32px;
    }
    p {
        margin: 0px 0px 0px 10px;
    }
    .experience {
        display: flex;
    }
}

.about_page {
    a {
        color: #e8e7e5;
    }
    color: #e8e7e5;
    cursor: default;
    display: inline-block;
    margin: 20px;
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
    }
    p {
        padding: 0px 22px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 12px;
    }

    @media screen and (max-width: $mobile-screen) {
        margin: 140px;
    }
}
